* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lobster', cursive;

}
/*estilos del encabezado*/
.first-menu{
  background-color: #2c3e50;
  height: 70px;
  font-size: 20px;
  position: fixed;
  width: 100%;
}
/*eliminando el subrayado*/
a{
  text-decoration: none;
  color: black;
}
/*estilo al menu izquierdo*/
.nav-left{
/*margin-left: 35px;*/
background-color:#edcd1f;
width: 280px;
}
/*titulo advanced*/
.title{
  /*outline: 1px solid red;*/
  /*se aplica para modificar su ancho*/
  display: inline-block;
  width: 70%;
}
/*aplicando estilo a la imagen idea*/
.idea{
  /*incorporando espaciado superior*/
  width: 20%;
  height: 20%;
  padding-top: 8px;
}

/*menu derecho*/
.nav-right {
  /*ubicación a la derecha*/
  float: right;
  /*espaciado*/
  margin-right: 30px;
  margin-top: 20px;
  font-size: 20px;
}
/*aparece el icono de barras*/
.view-mobile {
  display: block;
}
/*aparece una lista*/
.view-desktop {
  display: none;
}
/*estilos a la lista en version pc*/
ul li{
  /*ubicacion uno tras otro en linea*/
  display: inline-block;
  /*espaciado*/
  padding: 5px 15px;
}
/*aplicando estilo al slider*/
/*contenedor del slider*/
.slider {
	width: 100%;
  overflow: hidden;
}
/*contenedor de las imagenes del slider*/
.slider ul {
  /*outline: 1px solid red;*/
  /*se adapta al elemento padre, para que las imagenes aparezan una tras otra*/
	display: flex;
  /*ancho y alto*/
  width: 300%;
  height: 100%;
  /*animacion para el slider*/
  animation-name: slide;
  /*tiempo de duracion*/
  animation-duration: 20s;
  /*iteracion del slider*/
  animation-iteration-count: infinite;
}
/*elementos del slider*/
.slider li {
  /*ancho para que cada imagen cubra el tamaño del slider*/
	width: 100%;
  /*eliminanso espaciado*/
  padding: 0px;
}
/*imagenes del slider*/
.slider img {
	width: 100%;
  height: 400px;
}
/*realizando los cambios de las imagenes del slider*/
@keyframes slide{
  /*sentido de izquierda a derecha*/
	0% {margin-left: 0;}
  /*sentido inverso*/
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
}
/*estilos al texto de la segunda seccion*/
.text-info {
  /*outline: 1px solid red;*/
  color: #393939;
  /*espaciados*/
  margin-left: 3rem;
  margin-right: 2rem;
  margin-top: 1rem;
  /*texto justificado*/
  text-align: justify;
  line-height: 1.5;
  padding: 5px;
}
/*agregando subrayado a los titulos*/
h2:after{
  content: " ";
  width: 100px;
  background: #edcd1f;
  height: 5px;
  display: block;
  margin-bottom: 10px;
}

button{
  background-color:  #edcd1f;
  border: 1px solid  #edcd1f;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}
/*estilos generales*/


.image-principal{
  width: 100%;
  height: 400px;
}
figure{
  outline: 1px solid red;
  height: 200px;
}
img{
  width: 100%;
  height: 100%;
}

.text-extra{
  margin-left: 3rem;
  margin-right: 2rem;
  margin-top: 1rem;
}
footer{
  background-color: gray;
  text-align: center;
  color: white;
}
/*para escritorio*/
@media (min-width: 768px) {
  /*desaparece la version celular*/
  .view-mobile {
    display: none;
  }
  /*aparece la version pc*/
  .view-desktop {
    display: block;
  }
  /*aplicando mas espaciado a la derecha*/
  .text-info{
    margin-left: 8rem;
    width: 95%;

}

}

/*probad*/
.uno{
  background-color: #e8e8e8;
}
.dos{
  background-color:
#e8e8e8;

}
h2:after{
  content: " ";
   width: 100px;
    background: #edcd1f;
     height: 5px;
     display: block;
}
/*
.title{
  background-color: #edcd1f;
  padding: 3px;
  border: 1px solid #edcd1f;
  width: 50%;

}*/
